{% extends 'base.html.twig' %}
{% block body %}

<div class="container mt-4">
    <h1 class="text-primary">User: {{user.id}} - {{ user.firstname }} {{ user.lastname }}</h1>
</div>

<div class="container mt-4">
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">{{ user.id }}</dd>

        <dt class="col-sm-3">Firstname</dt>
        <dd class="col-sm-9">{{ user.firstname }}</dd>

        <dt class="col-sm-3">Lastname</dt>
        <dd class="col-sm-9">{{ user.lastname }}</dd>

        <dt class="col-sm-3">Gender</dt>
        <dd class="col-sm-9">{{ user.gender == 'male' ? '&#9794;' : '&#9792;'}}</dd>

        <dt class="col-sm-3">Birthdate</dt>
        <dd class="col-sm-9">{{ user.birthdate|date('d/m/Y') }}</dd>
    </dl>
</div>

<div class="container mt-4">
    <h2 class="text-secondary">Edit User</h2>
    {{ form_start(form) }}

        <div class="d-flex align-items-center mb-2">
            {{ form_label(form.firstname, null, {'label_attr': {'class': 'me-4 mb-0'}}) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control w-auto ms-3'}}) }}
        </div>
        <div class="d-flex align-items-center mb-2">
            {{ form_label(form.lastname, null, {'label_attr': {'class': 'me-4 mb-0'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control w-auto ms-3'}}) }}
        </div> 
        <div class="d-flex align-items-center mb-2">
            {{ form_label(form.gender, null, {'label_attr': {'class': 'me-4 mb-0'}}) }}
            {{ form_widget(form.gender, {'attr': {'class': 'form-control w-auto ms-3'}}) }}
        </div> 
        <div class="d-flex align-items-center mb-2">
            {{ form_label(form.birthdate, null, {'label_attr': {'class': 'me-4 mb-0'}}) }}
            {{ form_widget(form.birthdate, {'attr': {'class': 'form-control w-auto ms-3'}}) }}
        </div> 
        {{ form_widget(form) }}
        <div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ path('user_list') }}" class="btn btn-secondary">Back to list</a>
        </div>
    {{ form_end(form) }}
</div>  


{% endblock %}